.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Shared classes */

.logo {
  width: 183px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  z-index: 5;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_footer {
  height: 35px;
  z-index: 5;
  background-image: url('../images/logo_place_footer.svg');
}

.section-title {
  margin: 0;
  padding: 0 0 20px;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 60%;
  text-align: center;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* Header*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  z-index: 3;
  color: #2f80ed;
}

.header__main-illustration {
  margin: 0;
  padding: 0;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  object-fit: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

/* Description */

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  width: 175px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Digits */

.digits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 1100px;
  padding: 100px 0;
}

.table__heading_theme_light {
  color: black;
}

.table__text_theme_light {
  color: black;
}

/* Feynman */

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 890px;
  padding: 100px 0 0 0;
  box-sizing: border-box;
  align-items: center;
  background: url('../images/feynman.png') bottom left/867px 637px no-repeat;
  background-color: #f2f2f2;
}

.feynman__title {
  z-index: 3;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feynman__subtitle {
  z-index: 2;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;

}

/* Kaufman */

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  background: url('../images/kaufman-triangle.svg') center/contain no-repeat;
}

.section-title_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  color: #f2f2f2;
  }

.table__heading_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.table__text_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

/* Footer */

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 60px 0 40px;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;

}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}

.footer__column_content_info {

}

.footer__column_content_social {

}

.footer__author {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 18px 0 18px;
  padding: 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 16px;
  padding: 0;
  color: #f2f2f2;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  padding-right: 10px;
}

.footer__column-link {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}
